# Write a python program to display all the header tags from ‘en.wikipedia.org/wiki/Main_Page’.

In [ ]:
!pip install bs4
!pip install requests
!pip install lxml

In [2]:
from bs4 import BeautifulSoup
import requests
import re

In [147]:


url100 = "https://en.wikipedia.org/wiki/Main_Page"
r = requests.get(url100)
data = r.content
#print(data)
soup = BeautifulSoup(data,'html.parser')
#print(soup.prettify)
header = soup.find_all(re.compile('^h[1-6]$'))
print('list of all header tags :',*header,sep='\n\n')

list of all header tags :

<h1 class="firstHeading" id="firstHeading">Main Page</h1>

<h2 class="mp-h2" id="mp-tfa-h2"><span id="From_today.27s_featured_article"></span><span class="mw-headline" id="From_today's_featured_article">From today's featured article</span></h2>

<h2 class="mp-h2" id="mp-dyk-h2"><span class="mw-headline" id="Did_you_know_...">Did you know ...</span></h2>

<h2 class="mp-h2" id="mp-itn-h2"><span class="mw-headline" id="In_the_news">In the news</span></h2>

<h2 class="mp-h2" id="mp-otd-h2"><span class="mw-headline" id="On_this_day">On this day</span></h2>

<h2 class="mp-h2" id="mp-tfp-h2"><span id="Today.27s_featured_picture"></span><span class="mw-headline" id="Today's_featured_picture">Today's featured picture</span></h2>

<h2 class="mp-h2" id="mp-other"><span class="mw-headline" id="Other_areas_of_Wikipedia">Other areas of Wikipedia</span></h2>

<h2 class="mp-h2" id="mp-sister"><span id="Wikipedia.27s_sister_projects"></span><span class="mw-headline" id="Wikipedia's_sister_projects">Wikipedia's sister projects</span></h2>

<h2 class="mp-h2" id="mp-lang"><span class="mw-headline" id="Wikipedia_languages">Wikipedia languages</span></h2>

<h2>Navigation menu</h2>

<h3 class="vector-menu-heading" id="p-personal-label">
<span>Personal tools</span>
</h3>

<h3 class="vector-menu-heading" id="p-namespaces-label">
<span>Namespaces</span>
</h3>

<h3 class="vector-menu-heading" id="p-variants-label">
<span>Variants</span>
</h3>

<h3 class="vector-menu-heading" id="p-views-label">
<span>Views</span>
</h3>

<h3 class="vector-menu-heading" id="p-cactions-label">
<span>More</span>
</h3>

<h3>
<label for="searchInput">Search</label>
</h3>

<h3 class="vector-menu-heading" id="p-navigation-label">
<span>Navigation</span>
</h3>

<h3 class="vector-menu-heading" id="p-interaction-label">
<span>Contribute</span>
</h3>

<h3 class="vector-menu-heading" id="p-tb-label">
<span>Tools</span>
</h3>

<h3 class="vector-menu-heading" id="p-coll-print_export-label">
<span>Print/export</span>
</h3>

<h3 class="vector-menu-heading" id="p-wikibase-otherprojects-label">
<span>In other projects</span>
</h3>

<h3 class="vector-menu-heading" id="p-lang-label">
<span>Languages</span>
</h3>

#  Write a python program to display IMDB’s Top rated 100 movies’ data (i.e. Name, IMDB rating, Year of release) and make data frame.

In [300]:
url99 = 'http://www.imdb.com/chart/top'
r = requests.get(url99)
data = r.content
soup = BeautifulSoup(data,'html.parser')
#print(soup.prettify)

In [208]:
movies = soup.select('td.titleColumn')
ratings = [b.attrs.get('data-value') for b in soup.select('td.posterColumn span[name=ir]')]

imdb = []

# Store each item into dictionary (data), then put those into a list (imdb)
for index in range(0, 100):
    # Seperate movie into: 'place', 'title', 'year'
    movie_string = movies[index].get_text()
    movie = (' '.join(movie_string.split()).replace('.', ''))
    movie_title = movie[len(str(index))+1:-7]
    year = re.search('\((.*?)\)', movie_string).group(1)
    place = movie[:len(str(index))-(len(movie))]
    data = {"movie_title": movie_title,
            "year": year,
            "place": place,
            "rating": ratings[index]}
           
    imdb.append(data)

for item in imdb:
    print(item['place'], '-', item['movie_title'], '('+item['year']+') -',item['rating'])

1 - The Shawshank Redemption (1994) - 9.219951643065766
2 - The Godfather (1972) - 9.147448098776698
3 - The Godfather: Part II (1974) - 8.980034371546097
4 - The Dark Knight (2008) - 8.970526737466214
5 - 12 Angry Men (1957) - 8.935739496554005
6 - Schindler's List (1993) - 8.909858585155678
7 - The Lord of the Rings: The Return of the King (2003) - 8.885835265039535
8 - Pulp Fiction (1994) - 8.837914027332266
9 - Il buono, il brutto, il cattivo (1966) - 8.787658464131404
1 -  The Lord of the Rings: The Fellowship of the Ring (2001) - 8.77685209589083
11 - Fight Club (1999) - 8.75383298729376
12 - Forrest Gump (1994) - 8.743305013956544
13 - Inception (2010) - 8.714444376549045
14 - The Lord of the Rings: The Two Towers (2002) - 8.699796035545932
15 - Star Wars: Episode V - The Empire Strikes Back (1980) - 8.69585983440794
16 - The Matrix (1999) - 8.64404442199487
17 - Goodfellas (1990) - 8.643050689680406
18 - One Flew Over the Cuckoo's Nest (1975) - 8.636110574909846
19 - Shichinin no samurai (1954) - 8.610855213738931
20 - Se7en (1995) - 8.58727783258843
21 - The Silence of the Lambs (1991) - 8.57668520678185
22 - Cidade de Deus (2002) - 8.576599272525499
23 - La vita è bella (1997) - 8.574789800739548
24 - It's a Wonderful Life (1946) - 8.574713225929422
25 - Star Wars (1977) - 8.553839738475025
26 - Saving Private Ryan (1998) - 8.548471990132743
27 - Sen to Chihiro no kamikakushi (2001) - 8.537460266803544
28 - Interstellar (2014) - 8.53443717208068
29 - The Green Mile (1999) - 8.533752601702359
30 - Gisaengchung (2019) - 8.52705334239198
31 - Léon (1994) - 8.501581242934183
32 - Seppuku (1962) - 8.496296346153386
33 - The Usual Suspects (1995) - 8.489585248894546
34 - The Pianist (2002) - 8.48739799570642
35 - Back to the Future (1985) - 8.484019566946124
36 - Terminator 2: Judgment Day (1991) - 8.48339135501058
37 - Psycho (1960) - 8.481921331377551
38 - Modern Times (1936) - 8.481914889373586
39 - The Lion King (1994) - 8.480485864186125
40 - American History X (1998) - 8.474741124216221
41 - City Lights (1931) - 8.473026832818684
42 - Gladiator (2000) - 8.467240814778236
43 - Whiplash (2014) - 8.466177439427746
44 - The Departed (2006) - 8.465881294183308
45 - Hotaru no haka (1988) - 8.46585428587198
46 - The Intouchables (2011) - 8.46091454112366
47 - The Prestige (2006) - 8.452025025572066
48 - Casablanca (1942) - 8.449577834697326
49 - Once Upon a Time in the West (1968) - 8.44884026719928
50 - Rear Window (1954) - 8.438403472567845
51 - Nuovo Cinema Paradiso (1988) - 8.434843904669155
52 - Alien (1979) - 8.42329043932502
53 - Apocalypse Now (1979) - 8.417996810863396
54 - Memento (2000) - 8.411428326526663
55 - Raiders of the Lost Ark (1981) - 8.409487166853744
56 - The Great Dictator (1940) - 8.406307219316986
57 - The Lives of Others (2006) - 8.391799517401031
58 - Django Unchained (2012) - 8.388345055413602
59 - Paths of Glory (1957) - 8.38279685461637
60 - Sunset Blvd (1950) - 8.376282336206248
61 - WALL·E (2008) - 8.371240201824868
62 - The Shining (1980) - 8.365668456935351
63 - Avengers: Infinity War (2018) - 8.359935527226375
64 - Witness for the Prosecution (1957) - 8.359927029321968
65 - Joker (2019) - 8.356885795514254
66 - Dr Strangelove or: How I Learned to Stop Worrying and Love the Bomb (1964) - 8.354034688971703
67 - Spider-Man: Into the Spider-Verse (2018) - 8.350318241591241
68 - Oldeuboi (2003) - 8.344199109415843
69 - Mononoke-hime (1997) - 8.34386100031229
70 - Hamilton (2020) - 8.335652941703902
71 - Kimi no na wa (2016) - 8.325088481858893
72 - Once Upon a Time in America (1984) - 8.325082614052004
73 - The Dark Knight Rises (2012) - 8.32274488349186
74 - Aliens (1986) - 8.32181765086126
75 - Coco (2017) - 8.319307313520165
76 - Pather Panchali (1955) - 8.307981016209261
77 - Das Boot (1981) - 8.307838146207754
78 - Capharnaüm (2018) - 8.30625850636542
79 - Avengers: Endgame (2019) - 8.305021490012683
80 - Tengoku to jigoku (1963) - 8.304700846141936
81 - American Beauty (1999) - 8.300635272472755
82 - Toy Story (1995) - 8.295582561897909
83 - Braveheart (1995) - 8.294515438576502
84 - Amadeus (1984) - 8.293721946529656
85 - 3 Idiots (2009) - 8.293492040772408
86 - Inglourious Basterds (2009) - 8.285555030560456
87 - Good Will Hunting (1997) - 8.278241101252537
88 - Star Wars: Episode VI - Return of the Jedi (1983) - 8.276123344677663
89 - 2001: A Space Odyssey (1968) - 8.274075634785902
90 - Reservoir Dogs (1992) - 8.273655525995464
91 - M - Eine Stadt sucht einen Mörder (1931) - 8.273345767541977
92 - Taare Zameen Par (2007) - 8.271935958136327
93 - Vertigo (1958) - 8.269550008470576
94 - Citizen Kane (1941) - 8.269535470580317
95 - Requiem for a Dream (2000) - 8.262100128700443
96 - Jagten (2012) - 8.261733139857302
97 - Idi i smotri (1985) - 8.259673141867719
98 - Singin' in the Rain (1952) - 8.257975003011476
99 - North by Northwest (1959) - 8.257955172828803
10 -  Eternal Sunshine of the Spotless Mind (2004) - 8.256549787123976

# Write a python program to display IMDB’s Top rated 100 Indian movies’ data (i.e. Name, IMDB rating, Year of release) and make data frame.

In [301]:
url00 = 'https://www.imdb.com/india/top-rated-indian-movies'
r = requests.get(url00)
data = r.content
soup = BeautifulSoup(data,'html.parser')
#print(soup.prettify)

In [211]:

movies = soup.select('td.titleColumn')
ratings = [b.attrs.get('data-value') for b in soup.select('td.posterColumn span[name=ir]')]

imdbindian = []

# Store each item into dictionary (data), then put those into a list (imdb)
for index in range(0, 100):
    # Seperate movie into: 'place', 'title', 'year'
    movie_string = movies[index].get_text()
    movie = (' '.join(movie_string.split()).replace('.', ''))
    movie_title = movie[len(str(index))+1:-7]
    year = re.search('\((.*?)\)', movie_string).group(1)
    place = movie[:len(str(index))-(len(movie))]
    data = {"movie_title": movie_title,
            "year": year,
            "place": place,
            "rating": ratings[index]}
        
        
    imdbindian.append(data)

for item in imdbindian:
    print(item['place'], '-', item['movie_title'], '('+item['year']+') -',item['rating'])

1 - Pather Panchali (1955) - 8.48971092577561
2 - Nayakan (1987) - 8.487752982875492
3 - Pariyerum Perumal (2018) - 8.479219484475472
4 - Anbe Sivam (2003) - 8.476204784952818
5 - Golmaal (1979) - 8.464391081100187
6 - C/o Kancharapalem (2018) - 8.461427583328394
7 - Apur Sansar (1959) - 8.459479512926345
8 - Manichitrathazhu (1993) - 8.444682999765995
9 - Kireedam (1989) - 8.444547895992917
1 -  Natsamrat (2016) - 8.43809936248822
11 - 96 (2018) - 8.422538677819874
12 - Thevar Magan (1992) - 8.411082112608922
13 - Black Friday (2004) - 8.409403543487214
14 - Kumbalangi Nights (2019) - 8.396683463480452
15 - Drishyam 2 (2021) - 8.389711758194604
16 - Visaaranai (2015) - 8.352749619565898
17 - 3 Idiots (2009) - 8.349538703535133
18 - Taare Zameen Par (2007) - 8.331524151070221
19 - Jersey (2019) - 8.325280544474651
20 - Soorarai Pottru (2020) - 8.31894212590126
21 - Ratsasan (2018) - 8.309794059583378
22 - Thalapathi (1991) - 8.307298637585161
23 - Dangal (2016) - 8.301039849618494
24 - Asuran (2019) - 8.296361919180711
25 - Kaithi (2019) - 8.292794943204374
26 - Devasuram (1993) - 8.284492553186462
27 - Aparajito (1956) - 8.281881530468981
28 - Jaane Bhi Do Yaaro (1983) - 8.27168516387419
29 - Peranbu (2018) - 8.263288271775576
30 - Vada Chennai (2018) - 8.260194234323007
31 - Pyaasa (1957) - 8.258068838938367
32 - Guide (1965) - 8.255274304334618
33 - Thani Oruvan (2015) - 8.25132119161317
34 - Kannathil Muthamittal (2002) - 8.245591873175353
35 - Chupke Chupke (1975) - 8.23673743593784
36 - Iruvar (1997) - 8.231102322082654
37 - Spadikam (1995) - 8.229455695755478
38 - Agent Sai Srinivasa Athreya (2019) - 8.225609612827672
39 - Super Deluxe (2019) - 8.224179771415404
40 - Drishyam (2013) - 8.220045429675615
41 - Vikram Vedha (2017) - 8.21596784665754
42 - Aruvi (2016) - 8.215262578621505
43 - Mahanati (2018) - 8.209829619291886
44 - Tumbbad (2018) - 8.209126994381537
45 - Khosla Ka Ghosla! (2006) - 8.205418755759483
46 - Pudhu Pettai (2006) - 8.188319761013982
47 - Premam (2015) - 8.185337086914991
48 - Anand (1971) - 8.184323559245348
49 - Anniyan (2005) - 8.174612231227817
50 - Kaakkaa Muttai (2014) - 8.173300034571557
51 - Bangalore Days (2014) - 8.169513795908353
52 - Mudhalvan (1999) - 8.169393027704873
53 - Andhadhun (2018) - 8.169316421084076
54 - Dhuruvangal Pathinaaru (2016) - 8.167387203984303
55 - Papanasam (2015) - 8.167058224753792
56 - Satya (1998) - 8.166248244065576
57 - Soodhu Kavvum (2013) - 8.159761901175926
58 - Shahid (2012) - 8.158579232030894
59 - Jigarthanda (2014) - 8.14659886576984
60 - Pithamagan (2003) - 8.140402773465999
61 - Gangs of Wasseypur (2012) - 8.135958057608317
62 - Paan Singh Tomar (2012) - 8.131302791376058
63 - Sairat (2016) - 8.130396925841362
64 - Bhaag Milkha Bhaag (2013) - 8.12706986190686
65 - Hera Pheri (2000) - 8.122758521752926
66 - Talvar (2015) - 8.122416637596368
67 - Swades: We, the People (2004) - 8.116828765356603
68 - Sholay (1975) - 8.114471901726121
69 - Black (2005) - 8.113974848725201
70 - Ustad Hotel (2012) - 8.113929236562209
71 - Chak De! India (2007) - 8.111916259177054
72 - Jo Jeeta Wohi Sikandar (1992) - 8.1090358318367
73 - Nil Battey Sannata (2015) - 8.10812944906767
74 - Drishyam (2015) - 8.107049469833143
75 - Mughal-E-Azam (1960) - 8.106252195485371
76 - Maheshinte Prathikaaram (2016) - 8.104250405858767
77 - Zindagi Na Milegi Dobara (2011) - 8.103940055430737
78 - Charulata (1964) - 8.101569969005538
79 - Article 15 (2019) - 8.101236822746701
80 - Udaan (2010) - 8.099911661743667
81 - A Wednesday (2008) - 8.097228706180212
82 - Theeran adhigaaram ondru (2017) - 8.096911835972945
83 - Queen (2013) - 8.094029951703666
84 - Masaan (2015) - 8.093601252478704
85 - Alai Payuthey (2000) - 8.089906822553793
86 - Munna Bhai MBBS (2003) - 8.088949745988026
87 - Sarfarosh (1999) - 8.088619034675078
88 - Baasha (1995) - 8.084694519227462
89 - Roja (1992) - 8.08462832929865
90 - Dil Chahta Hai (2001) - 8.084549462064082
91 - OMG: Oh My God! (2012) - 8.083178298631733
92 - Rang De Basanti (2006) - 8.07998176873284
93 - Chhichhore (2019) - 8.076047761635277
94 - Lagaan: Once Upon a Time in India (2001) - 8.071618845133708
95 - Kahaani (2012) - 8.0702423497707
96 - Andaz Apna Apna (1994) - 8.066878720014795
97 - Virumandi (2004) - 8.065953592226432
98 - Uri: The Surgical Strike (2018) - 8.064839265373177
99 - PK (2014) - 8.063459849440937
10 -  Lucia (2013) - 8.054650250232564

#  Write a python program to scrap book name, author name, genre and book review of any 5 books from ‘www.bookpage.com’

In [302]:
url = 'https://bookpage.com/reviews'
r = requests.get(url)
data = r.content
soup = BeautifulSoup(data,'html.parser')
#print(soup.prettify)

In [303]:
book1_name = soup.find_all('div',class_="flex-article-content")
#print(book1_name)

In [154]:
book_names = []
for i in book1_name:
    book_names.append(i.text)
book_names

['\n\n ★ Rise to the Sun\n\n\nLeah Johnson\n\n\nYA\n / \nYA Fiction\n\n\nLeah Johnson’s second novel, Rise to the Sun, is filled with evocative details of the music festival experience and moving descriptions of live music.\n\n\nRead the Review \n\n',
 '\n\nFilthy Animals\n\n\nBrandon Taylor\n\n\nFiction\n / \nShort Stories\n\n\nIn Brandon Taylor’s short story collection, sexual tension acts like an undertow, lurking to pull its victims down below.\n\n\nRead the Review \n\n',
 "\n\nThe Woman They Could Not Silence\n\n\nKate Moore\n\n\nNonfiction\n / \nHistory\n / \nWomen's History\n\n\nIn the 19th century, a brave, brilliant and completely healthy woman named Elizabeth Packard was involuntarily committed to an Illinois asylum by her husband.\n\n\nRead the Review \n\n",
 '\n\nUnder a Dancing Star\n\n\nLaura Wood\n\n\nYA\n / \nYA Fiction\n\n\nUnder a Dancing Star is an effervescent retelling of Much Ado About Nothing, in which author Laura Wood transplants Shakespeare’s Beatrice and Benedick to an artists’ colony in Tuscany.\n\n\nRead the Review \n\n',
 '\n\nYoke\n\n\nJessamyn Stanley\n\n\nNonfiction\n / \nEssays\n / \nBody, Mind & Spirit\n\n\nThe 13 autobiographical essays in Yoke are brash, outspoken, funny, insightful, honest and occasionally spiced with dashes of self-deprecating melodrama.\n\n\nRead the Review \n\n',
 '\n\nLeaving Isn’t the Hardest Thing\n\n\nLauren Hough, Cate Blanchett\n\n\nAudio\n / \nNonfiction\n / \nEssays\n\n\nAuthor Lauren Hough and actor-producer Cate Blanchett create a heartbreaking and intimate experience for listeners.\n\n\nRead the Review \n\n',
 '\n\nThe Rose Code\n\n\nKate Quinn, Saskia Maarleveld\n\n\nAudio\n / \nFiction\n / \nHistorical Fiction\n\n\nThe Rose Code is a terrific story, brilliantly performed by Saskia Maarleveld. Or as Osla would say, it’s a real corker!\n\n\nRead the Review \n\n',
 '\n\nThe Damage\n\n\nCaitlin Wahrer\n\n\nMystery & Suspense\n / \nSuspense\n\n\nWith twists worthy of a season finale of “Law & Order: SVU,” The Damage explores a family’s struggle in the aftermath of a violent sexual assault.\n\n\nRead the Review \n\n',
 '\n\n ★ Blackout\n\n\nDhonielle Clayton, Tiffany D. Jackson, Nic Stone, Angie Thomas, Ashley Woodfolk, Nicola Yoon\n\n\nYA\n / \nYA Fiction\n\n\nIn Blackout, six of YA’s biggest superstars join forces to create a memorable collection of interlinked love stories that all unfold on one unforgettable New York City night.\n\n\nRead the Review \n\n',
 '\n\n ★ The Sweetness of Water\n\n\nNathan Harris\n\n\nFiction\n / \nHistorical Fiction\n\n\nNathan Harris’ Civil War-set debut novel celebrates all manner of relationships that combat hate.\n\n\nRead the Review \n\n']

In [155]:
book_names = []
for i in book1_name:
    book_names.append(i.text.replace('\n',''))
book_names

[' ★ Rise to the SunLeah JohnsonYA / YA FictionLeah Johnson’s second novel, Rise to the Sun, is filled with evocative details of the music festival experience and moving descriptions of live music.Read the Review ',
 'Filthy AnimalsBrandon TaylorFiction / Short StoriesIn Brandon Taylor’s short story collection, sexual tension acts like an undertow, lurking to pull its victims down below.Read the Review ',
 "The Woman They Could Not SilenceKate MooreNonfiction / History / Women's HistoryIn the 19th century, a brave, brilliant and completely healthy woman named Elizabeth Packard was involuntarily committed to an Illinois asylum by her husband.Read the Review ",
 'Under a Dancing StarLaura WoodYA / YA FictionUnder a Dancing Star is an effervescent retelling of Much Ado About Nothing, in which author Laura Wood transplants Shakespeare’s Beatrice and Benedick to an artists’ colony in Tuscany.Read the Review ',
 'YokeJessamyn StanleyNonfiction / Essays / Body, Mind & SpiritThe 13 autobiographical essays in Yoke are brash, outspoken, funny, insightful, honest and occasionally spiced with dashes of self-deprecating melodrama.Read the Review ',
 'Leaving Isn’t the Hardest ThingLauren Hough, Cate BlanchettAudio / Nonfiction / EssaysAuthor Lauren Hough and actor-producer Cate Blanchett create a heartbreaking and intimate experience for listeners.Read the Review ',
 'The Rose CodeKate Quinn, Saskia MaarleveldAudio / Fiction / Historical FictionThe Rose Code is a terrific story, brilliantly performed by Saskia Maarleveld. Or as Osla would say, it’s a real corker!Read the Review ',
 'The DamageCaitlin WahrerMystery & Suspense / SuspenseWith twists worthy of a season finale of “Law & Order: SVU,” The Damage explores a family’s struggle in the aftermath of a violent sexual assault.Read the Review ',
 ' ★ BlackoutDhonielle Clayton, Tiffany D. Jackson, Nic Stone, Angie Thomas, Ashley Woodfolk, Nicola YoonYA / YA FictionIn Blackout, six of YA’s biggest superstars join forces to create a memorable collection of interlinked love stories that all unfold on one unforgettable New York City night.Read the Review ',
 ' ★ The Sweetness of WaterNathan HarrisFiction / Historical FictionNathan Harris’ Civil War-set debut novel celebrates all manner of relationships that combat hate.Read the Review ']

In [164]:
header = soup.find_all(re.compile('^h[1-6]$'))
print('list of all header tags :',*header,sep='\n\n')
sas = soup.find('h4',class_="italic").a['href']

list of all header tags :

<h1 class="sans">
Book reviews
</h1>

<h4 class="italic">
<a href="/reviews/26434-leah-johnson-rise-to-sun-ya"> <span style="font-style:normal;">★ </span>Rise to the Sun</a>
</h4>

<h4 class="italic">
<a href="/reviews/26376-brandon-taylor-filthy-animals-fiction">Filthy Animals</a>
</h4>

<h4 class="italic">
<a href="/reviews/26423-kate-moore-woman-they-could-not-silence-history">The Woman They Could Not Silence</a>
</h4>

<h4 class="italic">
<a href="/reviews/26436-laura-wood-under-dancing-star-ya">Under a Dancing Star</a>
</h4>

<h4 class="italic">
<a href="/reviews/26427-jessamyn-stanley-yoke-nonfiction">Yoke</a>
</h4>

<h4 class="italic">
<a href="/reviews/26370-lauren-hough-leaving-isnt-hardest-thing-audio">Leaving Isn’t the Hardest Thing</a>
</h4>

<h4 class="italic">
<a href="/reviews/26372-kate-quinn-rose-code-audio">The Rose Code</a>
</h4>

<h4 class="italic">
<a href="/reviews/26443-caitlin-wahrer-damage-mystery-suspense">The Damage</a>
</h4>

<h4 class="italic">
<a href="/reviews/26433-dhonielle-clayton-blackout-ya"> <span style="font-style:normal;">★ </span>Blackout</a>
</h4>

<h4 class="italic">
<a href="/reviews/26387-nathan-harris-sweetness-water-fiction"> <span style="font-style:normal;">★ </span>The Sweetness of Water</a>
</h4>

In [231]:
book1_name  =   soup.find_all('h4',class_="italic")
authorname =    soup.find_all('p',class_="sans bold")
excerpt     =   soup.find_all('p',class_="excerpt")
genre      =    soup.find_all('p',class_="genre-links hidden-phone")
pad        =    soup.find_all('div',class_='bp-block article-info')


#print(book1_name)
#print(authorname)
#print(excerpt)
#print(genre)
#print(pad)

In [267]:
book_rev =[]
for i in pad[:5]:
     book_rev.append(i.find('h4',class_="italic").a['href'])
    
print("list of genre:",*book_rev,sep=('\n\n'))

list of genre:

/reviews/26434-leah-johnson-rise-to-sun-ya

/reviews/26376-brandon-taylor-filthy-animals-fiction

/reviews/26423-kate-moore-woman-they-could-not-silence-history

/reviews/26436-laura-wood-under-dancing-star-ya

/reviews/26427-jessamyn-stanley-yoke-nonfiction

In [268]:
book_names = []
for i in book1_name[:5]:
    book_names.append(i.text.replace('\n',''))
book_names

[' ★ Rise to the Sun',
 'Filthy Animals',
 'The Woman They Could Not Silence',
 'Under a Dancing Star',
 'Yoke']

In [269]:
author = []
for i in authorname[:5]:
    author.append(i.text.replace('\n',''))
author

['Leah Johnson',
 'Brandon Taylor',
 'Kate Moore',
 'Laura Wood',
 'Jessamyn Stanley']

In [270]:
book_excerpt =[]
for i in excerpt[:5]:
    book_excerpt.append(i.text.replace('\n',''))
print("list of review:",*book_excerpt,sep=('\n\n'))

list of review:

Leah Johnson’s second novel, Rise to the Sun, is filled with evocative details of the music festival experience and moving descriptions of live music.

In Brandon Taylor’s short story collection, sexual tension acts like an undertow, lurking to pull its victims down below.

In the 19th century, a brave, brilliant and completely healthy woman named Elizabeth Packard was involuntarily committed to an Illinois asylum by her husband.

Under a Dancing Star is an effervescent retelling of Much Ado About Nothing, in which author Laura Wood transplants Shakespeare’s Beatrice and Benedick to an artists’ colony in Tuscany.

The 13 autobiographical essays in Yoke are brash, outspoken, funny, insightful, honest and occasionally spiced with dashes of self-deprecating melodrama.

In [271]:
book_genre =[]
for i in genre[0:5]:
    book_genre.append(i.text.replace('\n',''))
print("list of genre:",*book_genre,sep=('\n\n'))

list of genre:

YA / YA Fiction

Fiction / Short Stories

Nonfiction / History / Women's History

YA / YA Fiction

Nonfiction / Essays / Body, Mind & Spirit

In [272]:
print(len(book_names),len(author),len(book_excerpt),len(book_genre),len(book_rev))

5 5 5 5 5

In [273]:
import pandas as pd
books = pd.DataFrame({})
books['names']= book_names
books['authors']=author
books['excerpt']=book_excerpt
books['genre'] = book_genre
books['rev'] = book_rev

In [274]:
books

,names,authors,excerpt,genre,rev
0,★ Rise to the Sun,Leah Johnson,"Leah Johnson’s second novel, Rise to the Sun, ...",YA / YA Fiction,/reviews/26434-leah-johnson-rise-to-sun-ya
1,Filthy Animals,Brandon Taylor,"In Brandon Taylor’s short story collection, se...",Fiction / Short Stories,/reviews/26376-brandon-taylor-filthy-animals-f...
2,The Woman They Could Not Silence,Kate Moore,"In the 19th century, a brave, brilliant and co...",Nonfiction / History / Women's History,/reviews/26423-kate-moore-woman-they-could-not...
3,Under a Dancing Star,Laura Wood,Under a Dancing Star is an effervescent retell...,YA / YA Fiction,/reviews/26436-laura-wood-under-dancing-star-ya
4,Yoke,Jessamyn Stanley,The 13 autobiographical essays in Yoke are bra...,"Nonfiction / Essays / Body, Mind & Spirit",/reviews/26427-jessamyn-stanley-yoke-nonfiction

 # Write a python program to scrape cricket rankings from ‘www.icc-cricket.com’. You have to scrape: i) Top 10 ODI teams in men’s cricket along with the records for matches, points and rating.

In [275]:
import pandas as pd

url = 'https://www.icc-cricket.com/rankings/mens/team-rankings/odi'
r = requests.get(url)
data = r.content
soup = BeautifulSoup(data,'html.parser')
#print(soup.prettify)

In [304]:
odi_table = soup.find('table',class_="table")
#print(odi_table)

In [277]:

headers = []
for i in odi_table.find_all('th'):
    title = i.text.strip()
    headers.append(title.replace('\n',' '))
print(headers)

['Pos', 'Team T', 'Matches M', 'Points P', 'Rating R']

In [278]:
df = pd.DataFrame(columns = headers)
for row in odi_table.find_all('tr')[1:11]:
    data = row.find_all('td')
    row_data = [td.text.strip() for td in data]
    length = len(df)
    df.loc[length] = row_data
print(df)

  Pos            Team T Matches M Points P Rating R
0   1   New Zealand\nNZ        17    2,054      121
1   2    Australia\nAUS        25    2,945      118
2   3        India\nIND        29    3,344      115
3   4      England\nENG        27    3,100      115
4   5  South Africa\nSA        20    2,137      107
5   6     Pakistan\nPAK        24    2,323       97
6   7   Bangladesh\nBAN        27    2,438       90
7   8   West Indies\nWI        27    2,222       82
8   9     Sri Lanka\nSL        24    1,876       78
9  10  Afghanistan\nAFG        17    1,054       62

#  ii) Top 10 ODI Batsmen in men along with the records of their team and rating

In [279]:
url1 = 'https://www.icc-cricket.com/rankings/mens/player-rankings/odi/batting'
r = requests.get(url1)
data = r.content
soup = BeautifulSoup(data,'html.parser')
#print(soup.prettify)

In [305]:
odi_batsman_table = soup.find('table',class_="table")
            
#print(odi_batsman_table)

In [281]:
headers0 = []
for i in odi_batsman_table.find_all('th'):
    title = i.text.strip()
    headers0.append(title.replace('\n',' '))
print(headers0)

['Pos', 'Player', 'Team', 'Rating', 'Career Best Rating']

In [282]:
df = pd.DataFrame(columns = headers0)
for row in odi_batsman_table.find_all('tr')[1:11]:
    data = row.find_all('td')
    row_data = [td.text.strip() for td in data]
    length = len(df)
    df.loc[length] = row_data
print(df)

  Pos               Player Team Rating              Career Best Rating
0   1           Babar Azam  PAK    865  865 v South Africa, 07/04/2021
1   2          Virat Kohli  IND    857       911 v England, 12/07/2018
2   3         Rohit Sharma  IND    825     885 v Sri Lanka, 06/07/2019
3   4          Ross Taylor   NZ    801    841 v Bangladesh, 05/06/2019
4   5          Aaron Finch  AUS    791       798 v England, 25/06/2019
5   6       Jonny Bairstow  ENG    785         796 v India, 26/03/2021
6   7         Fakhar Zaman  PAK    778  778 v South Africa, 07/04/2021
7      Francois du Plessis   SA    778     820 v Australia, 06/07/2019
8   9         David Warner  AUS    773      880 v Pakistan, 26/01/2017
9                Shai Hope   WI    773    808 v Bangladesh, 17/05/2019

# iii) Top 10 ODI bowlers along with the records of their team and rating.

In [283]:
url12 = 'https://www.icc-cricket.com/rankings/mens/player-rankings/odi/bowling'
r = requests.get(url12)
data = r.content
soup = BeautifulSoup(data,'html.parser')
#print(soup.prettify)

In [306]:
tab = soup.find('table',class_="table")
#print(tab)

In [285]:
headers1 = []
for i in tab.find_all('th'):
    title = i.text.strip()
    headers1.append(title.replace('\n',' '))
print(headers1)

['Pos', 'Player', 'Team', 'Rating', 'Career Best Rating']

In [286]:
df = pd.DataFrame(columns = headers1)
for row in tab.find_all('tr')[1:11]:
    data = row.find_all('td')
    row_data = [td.text.strip() for td in data]
    length = len(df)
    df.loc[length] = row_data
print(df)

  Pos             Player Team Rating             Career Best Rating
0   1        Trent Boult   NZ    737  770 v West Indies, 22/06/2019
1   2       Mehedi Hasan  BAN    713    725 v Sri Lanka, 25/05/2021
2   3   Mujeeb Ur Rahman  AFG    708      712 v Ireland, 24/01/2021
3   4         Matt Henry   NZ    691   691 v Bangladesh, 26/03/2021
4   5     Jasprit Bumrah  IND    690  841 v West Indies, 01/11/2018
5   6      Kagiso Rabada   SA    666      724 v England, 29/05/2017
6   7       Chris Woakes  ENG    665  676 v New Zealand, 14/07/2019
7   8     Josh Hazlewood  AUS    660      733 v England, 26/01/2018
8   9        Pat Cummins  AUS    646     729 v Pakistan, 12/06/2019
9  10  Mustafizur Rahman  BAN    645  695 v West Indies, 14/12/2018

# using pandas

In [245]:
df  = pd.read_html(url12,header = 0)
df

[                                                  Pos            Player Team  \
 0                                                   1       Trent Boult   NZ
 1                                                   2      Mehedi Hasan  BAN
 2                                                   3  Mujeeb Ur Rahman  AFG
 3                                                   4        Matt Henry   NZ
 4                                                   5    Jasprit Bumrah  IND
 ..                                                ...               ...  ...
 95  96  This player has moved up in the rankings s...       Ashton Agar  AUS
 96  97  This player has moved up in the rankings s...    Mohammad Nawaz  PAK
 97  98  This player has moved up in the rankings s...   Donald Tiripano  ZIM
 98  99  This player has moved down in the rankings...   George Dockrell  IRE
 99                                                100     Bradley Wheal  SCO

     Rating              Career Best Rating
 0      737   770 v West Indies, 22/06/2019
 1      713     725 v Sri Lanka, 25/05/2021
 2      708       712 v Ireland, 24/01/2021
 3      691    691 v Bangladesh, 26/03/2021
 4      690   841 v West Indies, 01/11/2018
 ..     ...                             ...
 95     377         377 v India, 02/12/2020
 96     376  376 v South Africa, 07/04/2021
 97     373      373 v Pakistan, 03/11/2020
 98     370   589 v West Indies, 16/02/2015
 99     368     385 v Sri Lanka, 21/05/2019

 [100 rows x 5 columns]]

# Write a python program to scrape cricket rankings from ‘www.icc-cricket.com’. You have to scrape:
## i) Top 10 ODI teams in women’s cricket along with the records for matches, points and rating.

In [287]:
url14 = 'https://www.icc-cricket.com/rankings/womens/team-rankings/odi'
r = requests.get(url14)
data = r.content
soup = BeautifulSoup(data,'html.parser')
#print(soup.prettify)'

In [307]:
womens_team = soup.find('table',class_="table")
#print(tab)

In [289]:
headers14 = []
for i in tab.find_all('th'):
    title = i.text.strip()
    headers14.append(title.replace('\n',' '))
print(headers14)

['Pos', 'Player', 'Team', 'Rating', 'Career Best Rating']

In [290]:
df = pd.DataFrame(columns = headers14)
for row in womens_team.find_all('tr')[1:11]:
    data = row.find_all('td')
    row_data = [td.text.replace('\n','  ') for td in data]
    length = len(df)
    df.loc[length] = row_data
print(df)

  Pos                  Player Team Rating  \
0   1        Australia  AUS     18  2,955
1   2      South Africa  SA     24  2,828
2   3          England  ENG     17  1,993
3   4            India  IND     20  2,226
4   5       New Zealand  NZ     21  1,947
5   6       West Indies  WI     12  1,025
6   7         Pakistan  PAK     15  1,101
7   8       Bangladesh  BAN      5    306
8   9         Sri Lanka  SL     11    519
9  10          Ireland  IRE      2     25

                                  Career Best Rating
0                                164             ...
1                                                118
2                                                117
3                                                111
4                                                 93
5                                                 85
6                                                 73
7                                                 61
8                                                 47
9                                                 13

# ii) Top 10 women’s ODI players along with the records of their team and rating.

In [291]:
url15 = 'https://www.icc-cricket.com/rankings/womens/player-rankings/odi/batting'
r = requests.get(url15)
data = r.content
soup = BeautifulSoup(data,'html.parser')
#print(soup.prettify)'

In [308]:
womens_player = soup.find('table',class_="table")
#print(tab)

In [293]:
headers15 = []
for i in tab.find_all('th'):
    title = i.text.strip()
    headers15.append(title.replace('\n',' '))
print(headers15)

['Pos', 'Player', 'Team', 'Rating', 'Career Best Rating']

In [294]:
df = pd.DataFrame(columns = headers15)
for row in womens_player.find_all('tr')[1:11]:
    data = row.find_all('td')
    row_data = [td.text.strip() for td in data]
    length = len(df)
    df.loc[length] = row_data
print(df)

                                                 Pos             Player Team  \
0                                                  1     Tammy Beaumont  ENG
1                                                  2        Lizelle Lee   SA
2                                                  3       Alyssa Healy  AUS
3                                                  4    Stafanie Taylor   WI
4                                                  5        Meg Lanning  AUS
5                                                  6  Amy Satterthwaite   NZ
6                                                  7    Smriti Mandhana  IND
7                                                  8        Mithali Raj  IND
8  9\n        \n\n\n\nThis player has moved up in...     Natalie Sciver  ENG
9  10\n        \n\n\n\nThis player has moved up i...    Laura Wolvaardt   SA

  Rating             Career Best Rating
0    765  765 v New Zealand, 28/02/2021
1    758        773 v India, 14/03/2021
2    756  756 v New Zealand, 10/04/2021
3    746        765 v India, 02/03/2012
4    723  834 v New Zealand, 24/02/2016
5    715    756 v Australia, 02/03/2017
6    710      797 v England, 28/02/2019
7    709    839 v Australia, 24/12/2004
8    685        712 v India, 25/02/2019
9    683        725 v India, 07/03/2021

# iii) Top 10 women’s ODI all-rounder along with the records of their team and rating.

In [295]:
url16 = 'https://www.icc-cricket.com/rankings/womens/player-rankings/odi/all-rounder'
r = requests.get(url16)
data = r.content
soup = BeautifulSoup(data,'html.parser')
#print(soup.prettify)

In [309]:
womens_allrounder = soup.find('table',class_="table")
#print(tab)

In [297]:
headers16 = []
for i in womens_allrounder.find_all('th'):
    title = i.text.strip()
    headers16.append(title.replace('\n',' '))
print(headers16)

['Pos', 'Player', 'Team', 'Rating', 'Career Best Rating']

In [298]:
df = pd.DataFrame(columns = headers16)
for row in womens_allrounder.find_all('tr')[1:11]:
    data = row.find_all('td')
    row_data = [td.text.strip() for td in data]
    length = len(df)
    df.loc[length] = row_data
print(df)

                                                 Pos            Player Team  \
0                                                  1    Marizanne Kapp   SA
1  This player has moved down in the rankings sin...      Ellyse Perry  AUS
2                                                  3   Stafanie Taylor   WI
3                                                  4    Natalie Sciver  ENG
4                                                  5     Deepti Sharma  IND
5                                                  6     Jess Jonassen  AUS
6                                                  7  Ashleigh Gardner  AUS
7  8\n        \n\n\n\nThis player has moved up in...  Dane van Niekerk   SA
8  9\n        \n\n\n\nThis player has moved down ...     Sophie Devine   NZ
9  10\n        \n\n\n\nThis player has moved down...       Amelia Kerr   NZ

  Rating              Career Best Rating
0    418         418 v India, 17/03/2021
1    418   548 v West Indies, 11/09/2019
2    410   559 v New Zealand, 10/10/2013
3    349   349 v New Zealand, 28/02/2021
4    343  397 v South Africa, 09/10/2019
5    307   308 v West Indies, 11/09/2019
6    252   256 v New Zealand, 04/04/2021
7    243     421 v Sri Lanka, 11/02/2019
8    242     305 v Australia, 05/10/2020
9    236     247 v Australia, 07/04/2021

# Write a python program to scrape details of all the mobile phones under Rs. 20,000 listed on Amazon.in. The scraped data should include Product Name, Price, Image URL and Average Rating.

In [310]:
url200 = "https://www.amazon.in/s?k=mobile+phones+under+30000+rupees&i=electronics&ref=nb_sb_noss_1"
r = requests.get(url200)
data = r.content
soup = BeautifulSoup(data,'html.parser')
#print(soup.prettify)

In [6]:
name = soup.find_all('span',class_="a-size-medium a-color-base a-text-normal")
print(name)

[<span class="a-size-medium a-color-base a-text-normal">Redmi 9A (Nature Green, 2GB RAM, 32GB Storage) | 2GHz Octa-core Helio G25 Processor | 5000 mAh Battery</span>, <span class="a-size-medium a-color-base a-text-normal">Oppo A31 (Fantasy White, 6GB RAM, 128GB Storage) with No Cost EMI/Additional Exchange Offers</span>, <span class="a-size-medium a-color-base a-text-normal">Redmi 9 (Sky Blue, 4GB RAM, 64GB Storage)| 5000 mAh| 2.3GHz Mediatek Helio G35 Octa core Processor</span>, <span class="a-size-medium a-color-base a-text-normal">Samsung Galaxy M51 (Electric Blue, 8GB RAM, 128GB Storage)</span>, <span class="a-size-medium a-color-base a-text-normal">Samsung Galaxy M42 5G (Prism Dot Black, 8GB RAM, 128GB Storage)</span>, <span class="a-size-medium a-color-base a-text-normal">Samsung Galaxy M11 (Metallic Blue, 4GB RAM, 64GB Storage) with No Cost EMI/Additional Exchange Offers</span>, <span class="a-size-medium a-color-base a-text-normal">Redmi Note 9 (Pebble Grey, 4GB RAM 64GB Storage) - 48MP Quad Camera &amp; Full HD+ Display</span>, <span class="a-size-medium a-color-base a-text-normal">Redmi 9 Power (Mighty Black, 6GB RAM, 128GB Storage) - 6000mAh Battery |FHD+ Screen| 48MP Quad Camera | Snapdragon 662 Processor</span>, <span class="a-size-medium a-color-base a-text-normal">Samsung Galaxy M31 (Ocean Blue, 8GB RAM, 128GB Storage)</span>, <span class="a-size-medium a-color-base a-text-normal">Redmi 9 (Carbon Black, 4GB RAM, 64GB Storage) | 5000 mAh| 2.3GHz Mediatek Helio G35 Octa core Processor</span>, <span class="a-size-medium a-color-base a-text-normal">Redmi Note 10 (Aqua Green, 6GB RAM, 128GB Storage) - Amoled Dot Display | 48MP Sony Sensor IMX582 | Snapdragon 678 Processor</span>, <span class="a-size-medium a-color-base a-text-normal">Samsung Galaxy M11 (Black, 4GB RAM, 64GB Storage) with No Cost EMI/Additional Exchange Offers</span>, <span class="a-size-medium a-color-base a-text-normal">Samsung Galaxy M01 Core (Black, 2GB RAM, 32GB Storage) with No Cost EMI/Additional Exchange Offers</span>, <span class="a-size-medium a-color-base a-text-normal">Redmi 9A (Sea Blue 2GB RAM 32GB Storage) | 2GHz Octa-core Helio G25 Processor | 5000 mAh Battery</span>, <span class="a-size-medium a-color-base a-text-normal">Redmi Note 10 (Shadow Black, 4GB RAM, 64GB Storage) - Amoled Dot Display | 48MP Sony Sensor IMX582 | Snapdragon 678 Processor</span>, <span class="a-size-medium a-color-base a-text-normal">TECNO Spark 7T(Magnet Black, 4GB RAM,64GB Storage) 6000 mAh Battery| 48 MP AI Dual Rear Camera</span>, <span class="a-size-medium a-color-base a-text-normal">Samsung Galaxy M31 (Ocean Blue, 6GB RAM, 128GB Storage)</span>, <span class="a-size-medium a-color-base a-text-normal">Panasonic Eluga i7 (2GB RAM, 16GB Storage, Finger Print Sensor, 4000mAh Battery) (Black)</span>, <span class="a-size-medium a-color-base a-text-normal">Redmi 9A (Midnight Black 2GB RAM 32GB Storage) | 2GHz Octa-core Helio G25 Processor | 5000 mAh Battery</span>, <span class="a-size-medium a-color-base a-text-normal">Samsung Galaxy M02s (Blue,4GB RAM, 64GB Storage) | 5000 mAh | Triple Camera</span>, <span class="a-size-medium a-color-base a-text-normal">Nokia C3 Android 10 Smartphone with 2GB RAM 16GB Storage, All-Day Battery and Fingerprint Sensor – Nordic Blue</span>, <span class="a-size-medium a-color-base a-text-normal">Vivo Y20G (Obsidiant Black, 6GB, 128GB Storage) with No Cost EMI/Additional Exchange Offers</span>, <span class="a-size-medium a-color-base a-text-normal">Nokia 105 Single SIM (Blue)</span>, <span class="a-size-medium a-color-base a-text-normal">Samsung Galaxy M12 (Blue,4GB RAM, 64GB Storage) 6000 mAh with 8nm Processor | True 48 MP Quad Camera | 90Hz Refresh Rate</span>]

In [7]:
phone_names =[]
for i in name[0:16]:
      phone_names.append(i.text.replace('\n',''))
print("list of names:",*phone_names,sep=('\n\n'))

list of names:

Redmi 9A (Nature Green, 2GB RAM, 32GB Storage) | 2GHz Octa-core Helio G25 Processor | 5000 mAh Battery

Oppo A31 (Fantasy White, 6GB RAM, 128GB Storage) with No Cost EMI/Additional Exchange Offers

Redmi 9 (Sky Blue, 4GB RAM, 64GB Storage)| 5000 mAh| 2.3GHz Mediatek Helio G35 Octa core Processor

Samsung Galaxy M51 (Electric Blue, 8GB RAM, 128GB Storage)

Samsung Galaxy M42 5G (Prism Dot Black, 8GB RAM, 128GB Storage)

Samsung Galaxy M11 (Metallic Blue, 4GB RAM, 64GB Storage) with No Cost EMI/Additional Exchange Offers

Redmi Note 9 (Pebble Grey, 4GB RAM 64GB Storage) - 48MP Quad Camera & Full HD+ Display

Redmi 9 Power (Mighty Black, 6GB RAM, 128GB Storage) - 6000mAh Battery |FHD+ Screen| 48MP Quad Camera | Snapdragon 662 Processor

Samsung Galaxy M31 (Ocean Blue, 8GB RAM, 128GB Storage)

Redmi 9 (Carbon Black, 4GB RAM, 64GB Storage) | 5000 mAh| 2.3GHz Mediatek Helio G35 Octa core Processor

Redmi Note 10 (Aqua Green, 6GB RAM, 128GB Storage) - Amoled Dot Display | 48MP Sony Sensor IMX582 | Snapdragon 678 Processor

Samsung Galaxy M11 (Black, 4GB RAM, 64GB Storage) with No Cost EMI/Additional Exchange Offers

Samsung Galaxy M01 Core (Black, 2GB RAM, 32GB Storage) with No Cost EMI/Additional Exchange Offers

Redmi 9A (Sea Blue 2GB RAM 32GB Storage) | 2GHz Octa-core Helio G25 Processor | 5000 mAh Battery

Redmi Note 10 (Shadow Black, 4GB RAM, 64GB Storage) - Amoled Dot Display | 48MP Sony Sensor IMX582 | Snapdragon 678 Processor

TECNO Spark 7T(Magnet Black, 4GB RAM,64GB Storage) 6000 mAh Battery| 48 MP AI Dual Rear Camera

In [8]:
phone_cost = soup.find_all('span',class_='a-price-whole')
phone_cost

[<span class="a-price-whole">6,799</span>,
 <span class="a-price-whole">11,490</span>,
 <span class="a-price-whole">8,799</span>,
 <span class="a-price-whole">22,999</span>,
 <span class="a-price-whole">23,999</span>,
 <span class="a-price-whole">8,999</span>,
 <span class="a-price-whole">10,999</span>,
 <span class="a-price-whole">12,999</span>,
 <span class="a-price-whole">16,999</span>,
 <span class="a-price-whole">8,799</span>,
 <span class="a-price-whole">14,999</span>,
 <span class="a-price-whole">8,999</span>,
 <span class="a-price-whole">6,199</span>,
 <span class="a-price-whole">6,799</span>,
 <span class="a-price-whole">12,499</span>,
 <span class="a-price-whole">8,999</span>,
 <span class="a-price-whole">14,999</span>,
 <span class="a-price-whole">5,298</span>,
 <span class="a-price-whole">6,799</span>,
 <span class="a-price-whole">9,999</span>,
 <span class="a-price-whole">6,749</span>,
 <span class="a-price-whole">14,990</span>,
 <span class="a-price-whole">1,199</span>,
 <span class="a-price-whole">10,999</span>]

In [9]:
phone_price =[]
for i in phone_cost[0:16]:
    phone_price.append(i.text.replace('\n',''))
print("list of prices:",*phone_price,sep=('\n\n'))

list of prices:

6,799

11,490

8,799

22,999

23,999

8,999

10,999

12,999

16,999

8,799

14,999

8,999

6,199

6,799

12,499

8,999

In [10]:
phone_rat = soup.find_all('span',class_='a-icon-alt')
phone_rat

[<span class="a-icon-alt">4.2 out of 5 stars</span>,
 <span class="a-icon-alt">4.2 out of 5 stars</span>,
 <span class="a-icon-alt">4.2 out of 5 stars</span>,
 <span class="a-icon-alt">4.4 out of 5 stars</span>,
 <span class="a-icon-alt">4.1 out of 5 stars</span>,
 <span class="a-icon-alt">4.2 out of 5 stars</span>,
 <span class="a-icon-alt">4.3 out of 5 stars</span>,
 <span class="a-icon-alt">4.2 out of 5 stars</span>,
 <span class="a-icon-alt">4.3 out of 5 stars</span>,
 <span class="a-icon-alt">4.2 out of 5 stars</span>,
 <span class="a-icon-alt">4.1 out of 5 stars</span>,
 <span class="a-icon-alt">4.2 out of 5 stars</span>,
 <span class="a-icon-alt">3.7 out of 5 stars</span>,
 <span class="a-icon-alt">4.2 out of 5 stars</span>,
 <span class="a-icon-alt">4.1 out of 5 stars</span>,
 <span class="a-icon-alt">4.4 out of 5 stars</span>,
 <span class="a-icon-alt">4.3 out of 5 stars</span>,
 <span class="a-icon-alt">3.1 out of 5 stars</span>,
 <span class="a-icon-alt">4.2 out of 5 stars</span>,
 <span class="a-icon-alt">4.1 out of 5 stars</span>,
 <span class="a-icon-alt">3.5 out of 5 stars</span>,
 <span class="a-icon-alt">4.1 out of 5 stars</span>,
 <span class="a-icon-alt">4.1 out of 5 stars</span>,
 <span class="a-icon-alt">4.1 out of 5 stars</span>,
 <span class="a-icon-alt">4 Stars &amp; Up</span>,
 <span class="a-icon-alt">3 Stars &amp; Up</span>,
 <span class="a-icon-alt">2 Stars &amp; Up</span>,
 <span class="a-icon-alt">1 Star &amp; Up</span>]

In [11]:
phone_ratings =[]
for i in phone_rat[0:16]:
    phone_ratings.append(i.text.replace('\n',''))
print("list of Rating:",*phone_ratings,sep=('\n\n'))

list of Rating:

4.2 out of 5 stars

4.2 out of 5 stars

4.2 out of 5 stars

4.4 out of 5 stars

4.1 out of 5 stars

4.2 out of 5 stars

4.3 out of 5 stars

4.2 out of 5 stars

4.3 out of 5 stars

4.2 out of 5 stars

4.1 out of 5 stars

4.2 out of 5 stars

3.7 out of 5 stars

4.2 out of 5 stars

4.1 out of 5 stars

4.4 out of 5 stars

In [12]:
phone_im=soup.find_all('div',class_="s-include-content-margin s-border-bottom s-latency-cf-section")
phone_im                             
      
phone_img =  soup.find('img',class_="s-image",)['src']
    
phone_img

'https://m.media-amazon.com/images/I/71sxlhYhKWL._AC_UY218_.jpg'

In [22]:
phone_images =[]
for i in phone_im[0:16]:
    phone_images.append( i.find('img',class_='s-image')['src'])
print("list of Rating:",*phone_images,sep=('\n\n'))

list of Rating:

https://m.media-amazon.com/images/I/71sxlhYhKWL._AC_UY218_.jpg

https://m.media-amazon.com/images/I/61IhTtJUXJL._AC_UY218_.jpg

https://m.media-amazon.com/images/I/71A9Vo1BatL._AC_UY218_.jpg

https://m.media-amazon.com/images/I/710weRkP-nL._AC_UY218_.jpg

https://m.media-amazon.com/images/I/71LweCKOpFL._AC_UY218_.jpg

https://m.media-amazon.com/images/I/71GQUxuSpnS._AC_UY218_.jpg

https://m.media-amazon.com/images/I/71X5I1cVfbL._AC_UY218_.jpg

https://m.media-amazon.com/images/I/61LHaUOhehL._AC_UY218_.jpg

https://m.media-amazon.com/images/I/71-Su4Wr0HL._AC_UY218_.jpg

https://m.media-amazon.com/images/I/716nHhG9SWL._AC_UY218_.jpg

https://m.media-amazon.com/images/I/71-BcSc9rhS._AC_UY218_.jpg

https://m.media-amazon.com/images/I/710jkZNub3S._AC_UY218_.jpg

https://m.media-amazon.com/images/I/71AYb2AGHXL._AC_UY218_.jpg

https://m.media-amazon.com/images/I/71sxlhYhKWL._AC_UY218_.jpg

https://m.media-amazon.com/images/I/71QY6JV6FhS._AC_UY218_.jpg

https://m.media-amazon.com/images/I/81EHVlbWOaS._AC_UY218_.jpg

In [311]:
phone_im=soup.find_all('div',class_="s-include-content-margin s-border-bottom s-latency-cf-section")
#phone_im

In [23]:
print(len(phone_names),len(phone_price),len(phone_ratings),len(phone_images))

16 16 16 16

In [26]:
import pandas as pd
amazon = pd.DataFrame({})
amazon['phone_name']= phone_names
amazon['phone_price']= phone_price
amazon['phone_rating']= phone_ratings
amazon['phone_url'] = phone_images

In [27]:
amazon

,phone_name,phone_price,phone_rating,phone_url
0,"Redmi 9A (Nature Green, 2GB RAM, 32GB Storage)...","6,799",4.2 out of 5 stars,https://m.media-amazon.com/images/I/71sxlhYhKW...
1,"Oppo A31 (Fantasy White, 6GB RAM, 128GB Storag...","11,490",4.2 out of 5 stars,https://m.media-amazon.com/images/I/61IhTtJUXJ...
2,"Redmi 9 (Sky Blue, 4GB RAM, 64GB Storage)| 500...","8,799",4.2 out of 5 stars,https://m.media-amazon.com/images/I/71A9Vo1Bat...
3,"Samsung Galaxy M51 (Electric Blue, 8GB RAM, 12...","22,999",4.4 out of 5 stars,https://m.media-amazon.com/images/I/710weRkP-n...
4,"Samsung Galaxy M42 5G (Prism Dot Black, 8GB RA...","23,999",4.1 out of 5 stars,https://m.media-amazon.com/images/I/71LweCKOpF...
5,"Samsung Galaxy M11 (Metallic Blue, 4GB RAM, 64...","8,999",4.2 out of 5 stars,https://m.media-amazon.com/images/I/71GQUxuSpn...
6,"Redmi Note 9 (Pebble Grey, 4GB RAM 64GB Storag...","10,999",4.3 out of 5 stars,https://m.media-amazon.com/images/I/71X5I1cVfb...
7,"Redmi 9 Power (Mighty Black, 6GB RAM, 128GB St...","12,999",4.2 out of 5 stars,https://m.media-amazon.com/images/I/61LHaUOheh...
8,"Samsung Galaxy M31 (Ocean Blue, 8GB RAM, 128GB...","16,999",4.3 out of 5 stars,https://m.media-amazon.com/images/I/71-Su4Wr0H...
9,"Redmi 9 (Carbon Black, 4GB RAM, 64GB Storage) ...","8,799",4.2 out of 5 stars,https://m.media-amazon.com/images/I/716nHhG9SW...
10,"Redmi Note 10 (Aqua Green, 6GB RAM, 128GB Stor...","14,999",4.1 out of 5 stars,https://m.media-amazon.com/images/I/71-BcSc9rh...
11,"Samsung Galaxy M11 (Black, 4GB RAM, 64GB Stora...","8,999",4.2 out of 5 stars,https://m.media-amazon.com/images/I/710jkZNub3...
12,"Samsung Galaxy M01 Core (Black, 2GB RAM, 32GB ...","6,199",3.7 out of 5 stars,https://m.media-amazon.com/images/I/71AYb2AGHX...
13,Redmi 9A (Sea Blue 2GB RAM 32GB Storage) | 2GH...,"6,799",4.2 out of 5 stars,https://m.media-amazon.com/images/I/71sxlhYhKW...
14,"Redmi Note 10 (Shadow Black, 4GB RAM, 64GB Sto...","12,499",4.1 out of 5 stars,https://m.media-amazon.com/images/I/71QY6JV6Fh...
15,"TECNO Spark 7T(Magnet Black, 4GB RAM,64GB Stor...","8,999",4.4 out of 5 stars,https://m.media-amazon.com/images/I/81EHVlbWOa...

#  Write a python program to scrape fresher job listings from ‘https://internshala.com/’. It should include job title, company name, CTC, and apply date.

In [316]:
url25 = "https://internshala.com/fresher-jobs"
r = requests.get(url25)
data = r.content
soup = BeautifulSoup(data,'html.parser')
#print(soup.prettify)

In [317]:
titles = soup.find_all('div',class_="heading_4_5 profile")
#print(titles)

In [318]:
job_titles =[]
for i in titles:
    job_titles.append(i.text.replace('\n',''))
print("list of job titles:",*job_titles,sep=('\n\n'))

list of job titles:

Associate Software Developer

Accounting Assistant

Software Engineer

Business Development Manager

Business Development Executive

Product Developer - Mathematics

Sales Development Representative

Full Stack Engineer

Junior ReactJS Developer

Marketing Manager

Product Marketing Associate

Administration Associate

Recruiter

Associate Software Developer

Project Coordinator

Web Developer

Software Engineer Trainee

Business Development Specialist (Sales & Marketing)

Business Development Executive

Associate Front End Developer

Corporate Sales Executive

Associate Software Developer (Full-Stack - React And Node)

Customer Relationship Specialist

Associate Editor Engagement

Management Consultant Associate

Web Analytics Developer

Junior Social Media Marketing Manager

Junior Social Media Marketing Associate

Business Development Manager (Digital Marketing Sales)

Business Development Executive

Accountant

Research Associate

Assistant Coordinator - Tender Department

Customer Relationship Manager (Publishing Consultant)

Executive Assistant To Director

Learning Consultant - Sales

School/Teacher Consultant

Software Developer

Business Development Executive (Inside Sales)

Web Developer

In [319]:
names = soup.find_all('div',class_="heading_6 company_name")
#print(names)

In [320]:
company_names =[]
for i in names:
    company_names.append(i.text.replace('\n',''))
print("list of company names:",*company_names,sep=('\n\n'))

list of company names:

                        White Blink

                        Wono Inc

                        Wono Inc

                        Wono Inc

                        Emertxe Information Technologies

                        Open Door Education

                        Content Beta

                        Softway Solutions Private Limited

                        DeepThought Edutech Ventures Private Limited

                        Saltoro Coffee Roasters

                        WebMOBI

                        Global Sun

                        Radish Consultants Private Limited

                        Medico Healthcare Services & Technologies

                        Edupixels

                        Manufac Analytics Private Limited

                        Swabhav Techlabs

                        Claraeon Learning Private Limited

                        Picostone

                        AIMonk Labs Technology Limited

                        369 Zoss Waters

                        SleekSky LLC

                        InPhase Power Technologies

                        Cactus Communications Private Limited

                        StrategyCo.Global

                        DataVinci Private Limited

                        The Test Tribe

                        Glu Studios

                        Graygraph Technologies LLC

                        BookLeaf Publishing

                        Ravi Ladia & Co

                        Market Vistas Consumer Insights

                        Global Source Trading LLC

                        Blue Rose Publishers

                        Best Roadways Limited

                        Geekster

                        InfyBytes AI Labs Private Limited

                        Moxie.xyz

                        GREedge

                        Fullmoon Outdoor Web Solutions

In [321]:

sad = soup.find('div',class_='item_body',id=False).text.strip()
#print(sad)

salary = soup.find('div',class_='container-fluid individual_internship visibilityTrackerItem')
#salary

In [78]:
import pandas as pd
url300 = 'https://internshala.com/fresher-jobs'

#data:
data = {'Category':[],'company_name':[],'salary':[]}
    
r = requests.get(url300)
data1 = r.content
soup = BeautifulSoup(data1,'html.parser')
posts = soup.find_all('div',class_='container-fluid individual_internship visibilityTrackerItem')
for i in posts:
    data['Category'].append(i.find('div',class_='heading_4_5').text.strip())
    data['company_name'].append(i.find('div',class_='heading_6 company_name').text.strip())
    data['salary'].append(i.find('div',class_='item_body',id=False).text.strip())
          
    
    # create dataframe 
df = pd.DataFrame(data)
df

,Category,company_name,salary
0,Product Developer - Mathematics,Open Door Education,7 - 8 LPA
1,Sales Development Representative,Content Beta,3 - 4 LPA
2,Full Stack Engineer,Softway Solutions Private Limited,5.5 - 9 LPA
3,Junior ReactJS Developer,DeepThought Edutech Ventures Private Limited,3 - 5 LPA
4,Marketing Manager,Saltoro Coffee Roasters,3.2 - 3.5 LPA
5,Product Marketing Associate,WebMOBI,3 LPA
6,Administration Associate,Global Sun,3 - 3.2 LPA
7,Recruiter,Radish Consultants Private Limited,3 - 5 LPA
8,Associate Software Developer,Medico Healthcare Services & Technologies,3 - 3.2 LPA
9,Project Coordinator,Edupixels,3 LPA
10,Web Developer,Manufac Analytics Private Limited,3 - 4 LPA
11,Software Engineer Trainee,Swabhav Techlabs,3 - 3.5 LPA
12,Business Development Specialist (Sales & Marke...,Claraeon Learning Private Limited,3 LPA
13,Business Development Executive,Picostone,3 - 6.5 LPA
14,Associate Front End Developer,AIMonk Labs Technology Limited,6 - 7 LPA
15,Corporate Sales Executive,369 Zoss Waters,3 - 5 LPA
16,Associate Software Developer (Full-Stack - Rea...,SleekSky LLC,4 LPA
17,Customer Relationship Specialist,InPhase Power Technologies,3 - 3.5 LPA
18,Associate Editor Engagement,Cactus Communications Private Limited,3 - 4 LPA
19,Management Consultant Associate,StrategyCo.Global,4.5 - 7 LPA
20,Web Analytics Developer,DataVinci Private Limited,4.99 - 5 LPA
21,Junior Social Media Marketing Manager,The Test Tribe,3 - 4 LPA
22,Junior Social Media Marketing Associate,Glu Studios,3 - 3.6 LPA
23,Business Development Manager (Digital Marketin...,Graygraph Technologies LLC,3 - 4.5 LPA
24,Business Development Executive,BookLeaf Publishing,3 - 3.6 LPA
25,Accountant,Ravi Ladia & Co,3 LPA
26,Research Associate,Market Vistas Consumer Insights,3 - 3.25 LPA
27,Assistant Coordinator - Tender Department,Global Source Trading LLC,3 LPA
28,Customer Relationship Manager (Publishing Cons...,Blue Rose Publishers,3 - 3.5 LPA
29,Executive Assistant To Director,Best Roadways Limited,3 LPA
30,Learning Consultant - Sales,Geekster,3 - 3.5 LPA
31,School/Teacher Consultant,InfyBytes AI Labs Private Limited,3 - 4 LPA
32,Software Developer,Moxie.xyz,9 LPA
33,Business Development Executive (Inside Sales),GREedge,3.75 LPA
34,Web Developer,Fullmoon Outdoor Web Solutions,4 - 4.2 LPA
35,Order Processor,InspectHOA,3 LPA
36,Full Stack Developer,Nikulsan Technologies Private Limited,3.5 - 5 LPA
37,Associate Software Developer,IQGateway,3.6 - 10 LPA
38,Reactjs Developer,Startxlabs Technologies Private Limited,3 - 4 LPA
39,Full Stack Developer,RavGins International Private Limited (Wobb.ai),3.3 - 4 LPA

 # Write a python program to extract information about the local weather from the National Weather Service website of USA, https://www.weather.gov/ for the city, San Francisco. You need to extract data about 7 day extended forecast display for the city. The data should include period, short description, temperature and description.

In [322]:
url30 = " https://forecast.weather.gov/MapClick.php?textField1=37.78&textField2=-122.42#.YM2nJWgzY2w"
r = requests.get(url30)
data = r.content
soup = BeautifulSoup(data,'html.parser')
#print(soup.prettify)

In [198]:

perios = soup.find_all('p',class_="period-name")
perios
desc = soup.find_all('p',class_="short-desc")
desc
temp = soup.find_all('p',class_="temp")
temp

[<p class="temp temp-low">Low: 57 °F</p>,
 <p class="temp temp-high">High: 69 °F</p>,
 <p class="temp temp-low">Low: 55 °F</p>,
 <p class="temp temp-high">High: 68 °F</p>,
 <p class="temp temp-low">Low: 56 °F</p>,
 <p class="temp temp-high">High: 68 °F</p>,
 <p class="temp temp-low">Low: 56 °F</p>,
 <p class="temp temp-high">High: 72 °F</p>,
 <p class="temp temp-low">Low: 56 °F</p>]

In [199]:
weather_period =[]
for i in perios:
    weather_period.append(i.text.replace('\n',''))
print("list of forecasting:",*weather_period,sep=('\n\n'))

list of forecasting:

Overnight

Wednesday

WednesdayNight

Thursday

ThursdayNight

Friday

FridayNight

Saturday

SaturdayNight

In [200]:
weather_desc =[]
for i in desc:
    weather_desc.append(i.text.replace('\n',''))
print("list of description:",*weather_desc,sep=('\n\n'))

list of description:

Mostly Cloudy

BecomingSunny

IncreasingClouds

BecomingSunny

Partly Cloudyand Breezythen MostlyCloudy

Partly Sunnythen Sunnyand Breezy

Mostly Cloudy

Mostly Sunny

Partly Cloudy

In [201]:
weather_temp =[]
for i in temp:
    weather_temp.append(i.text.replace('\n',''))
print("list of temperature:",*weather_temp,sep=('\n\n'))

list of temperature:

Low: 57 °F

High: 69 °F

Low: 55 °F

High: 68 °F

Low: 56 °F

High: 68 °F

Low: 56 °F

High: 72 °F

Low: 56 °F

In [202]:
print(len(weather_period),len(weather_temp),len(weather_desc))

9 9 9

In [203]:
forecas= pd.DataFrame({})
forecas['Period_time']= weather_period
forecas['Temperature']= weather_temp
forecas['Description']= weather_desc

In [204]:
forecas

      Period_time  Temperature                               Description
0       Overnight   Low: 57 °F                             Mostly Cloudy
1       Wednesday  High: 69 °F                             BecomingSunny
2  WednesdayNight   Low: 55 °F                          IncreasingClouds
3        Thursday  High: 68 °F                             BecomingSunny
4   ThursdayNight   Low: 56 °F  Partly Cloudyand Breezythen MostlyCloudy
5          Friday  High: 68 °F          Partly Sunnythen Sunnyand Breezy
6     FridayNight   Low: 56 °F                             Mostly Cloudy
7        Saturday  High: 72 °F                              Mostly Sunny
8   SaturdayNight   Low: 56 °F                             Partly Cloudy

#  Write a python program to scrape house details from mentioned url. It should include house title, location, area, emi and price

In [64]:
url31 = "https://www.nobroker.in/property/sale/bangalore/Electronic%20City/?searchParam=W3sibGF0IjoxMi44MzU3MTAyMzE0MTQyLCJsb24iOjc3LjY3MzI3MDk3MzgyMTcsInBsYWNlSWQiOiJDaElKdy1GUWQ0cHNyanNSSGZkYXpnXzhYRW8iLCJwbGFjZU5hbWUiOiJFbGVjdHJvbmljIENpdHkiLCJzaG93TWFwIjpmYWxzZX1d&type=BHK4"
r = requests.get(url31)
data = r.content
soup = BeautifulSoup(data,'html.parser')
#print(soup.prettify)

In [66]:
house_title =[]
for i in title10:
    house_title.append(i.text.replace('\n',''))
print("list of titles:",*house_title,sep=('\n\n'))

list of titles:

3 BHK Apartment  For Sale  In Ds-max Starry In Electronic City

2 BHK Apartment  For Sale  In Gm Infinite E-city Town In Electronic City

3 BHK Flat  For Sale  In Greenfinch Vallerian In Electronic City

2 BHK Apartment  For Sale  In Purnima Elite In Electronic City

2 BHK Apartment  For Sale  In Sriven Luminous Amaltas In Electronic City

2 BHK Apartment  For Sale  In Icon Happy Living In Electronic City

3 BHK Apartment  For Sale  In Mahendra Aarna In Ananth Nagar Phase 2

3 BHK Flat  For Sale  In Smondo 2.0, Electronics City Phase 1 In Electronics City Phase 1

2 BHK Apartment  For Sale  In Ds Sigma Nest In Electronic City

3 BHK Flat  For Sale  In Shobha Silicon Oasis In Basapura

In [102]:
#Title
title = soup.find_all('h2',class_='heading-6 font-semi-bold nb__1AShY')
#Address
address = soup.find_all('div',class_='nb__2CMjv')
#Builtup area
area = soup.find_all('div',class_='nb__3oNyC')
area
#EMI
emi = soup.find('div',class_='font-semi-bold heading-6',id="roomType").text.strip()
print(emi)
#House cost
cost = soup.find('div',class_='font-semi-bold heading-6',id=False).text.strip()
print(cost)

[<div class="nb__3oNyC">1,200 sqft</div>,
 <div class="nb__3oNyC">2,600 sqft</div>,
 <div class="nb__3oNyC">1,100 sqft</div>,
 <div class="nb__3oNyC">1,400 sqft</div>,
 <div class="nb__3oNyC">2,500 sqft</div>,
 <div class="nb__3oNyC">2,400 sqft</div>,
 <div class="nb__3oNyC">2,650 sqft</div>,
 <div class="nb__3oNyC">1,120 sqft</div>,
 <div class="nb__3oNyC">2,350 sqft</div>,
 <div class="nb__3oNyC">2,200 sqft</div>]

In [97]:
house_title =[]
for i in title:
    house_title.append(i.text.replace('\n',''))
print("list of titles:",*house_title,sep=('\n\n'))

list of titles:

4 BHK In Independent House  For Sale  In Naganathapura

4 BHK For Sale  In Daadys Garden In Electronic City

4 BHK In Independent House  For Sale  In Sarjapura

4 BHK Flat  For Sale  In Electronic City

4 BHK In Independent House  For Sale  In Electronic City,

4 BHK In Independent House  For Sale  In Electronic City

4 BHK Apartment  For Sale  In Gopalan Gardenia In Electronic City

4 BHK Flat  For Sale  In Electronic City

4 BHK Flat  For Sale  In Heena Enclave In Electronic City

4 BHK In Independent House  For Sale  In Ananth Nagar

In [101]:
house_address =[]
for i in address:
    house_address.append(i.text.replace('\n',''))
print("list of address:",*house_address,sep=('\n\n'))

list of address:

Independent House, Doddanagamangala Rd opposite Sobha Silicon Oasis

Daadys Garden  Kammasandra Rd, Kammasandra, Electronic City, Bengaluru, Karnataka 560100, India

Independent House,  Shantipura Village , S.P Layout , near  Shantipura Panchayat Office

Standalone Building, Shikaripalya, near Shams School

Independent House,  Krishna reddy layout-Near Maruti Suzuki ARENA (Surakshaa Car Care, Bengaluru, Electronic City)

Independent House, Dhruv Dhama LayoutNear Heddari Icon

Gopalan Gardenia  Gopalan gardenia, Veerasandra Main Rd, Veer Sandra, Electronic City, Bengaluru, Karnataka 560100, India

Standalone Building, Konappana Agrahara, Near Saffron Supermarket

 Neeladri Nagar,Near Pioneer Sun Blossom

Independent House, Glass factory Outlet nd cross Near Grand Mart

In [72]:
emi = soup.find('div',class_='font-semi-bold heading-6',id="roomType").text.strip()
print(emi)
cost = soup.find('div',class_='font-semi-bold heading-6',id=False).text.strip()
print(cost)

₹45,851/Month
₹80 Lacs

In [103]:
house_area =[]
for i in area:
    house_area.append(i.text.replace('\n',''))
print("list of area:",*house_area,sep=('\n\n'))

list of area:

1,200 sqft

2,600 sqft

1,100 sqft

1,400 sqft

2,500 sqft

2,400 sqft

2,650 sqft

1,120 sqft

2,350 sqft

2,200 sqft

In [323]:
#overall information
dad = soup.find_all('div',class_='nb__2JHKO')
#dad

In [81]:
house_emi =[]
for i in dad:
    s = house_emi.append(i.find('div',class_='font-semi-bold heading-6',id='roomType').text)
   # v = s.text.strip()
print("list of emi:",*house_emi,sep=('\n\n'))

list of emi:

₹45,851/Month

₹85,971/Month

₹40,120/Month

₹20,060/Month

₹1.43 Lacs/Month

₹51,583/Month

₹63,045/Month

₹28,657/Month

₹71,643/Month

₹56,168/Month

In [259]:
house_cost =[]
for i in dad:
    s = house_cost.append(i.find('div',class_='font-semi-bold heading-6',id=False).text)
print("list of cost:",*house_cost,sep=('\n\n'))

list of cost:

₹80 Lacs

₹1.5 Crores

₹70 Lacs

₹35 Lacs

₹2.5 Crores

₹90 Lacs

₹1.1 Crores

₹50 Lacs

₹1.25 Crores

₹98 Lacs

In [104]:
print(len(house_title),len(house_address),len(house_area),len(house_cost),len(house_emi))

10 10 10 10 10

In [105]:
houses= pd.DataFrame({})
houses['housetitle']= house_title
houses['houses address']= house_address
houses['house_area']= house_area
houses['house_emi']= house_emi
houses['house_cost']= house_cost

In [106]:
houses

,housetitle,houses address,house_area,house_emi,house_cost
0,4 BHK In Independent House For Sale In Nagan...,"Independent House, Doddanagamangala Rd opposit...","1,200 sqft","₹45,851/Month",₹80 Lacs
1,4 BHK For Sale In Daadys Garden In Electronic...,"Daadys Garden Kammasandra Rd, Kammasandra, El...","2,600 sqft","₹85,971/Month",₹1.5 Crores
2,4 BHK In Independent House For Sale In Sarja...,"Independent House, Shantipura Village , S.P L...","1,100 sqft","₹40,120/Month",₹70 Lacs
3,4 BHK Flat For Sale In Electronic City,"Standalone Building, Shikaripalya, near Shams ...","1,400 sqft","₹20,060/Month",₹35 Lacs
4,4 BHK In Independent House For Sale In Elect...,"Independent House, Krishna reddy layout-Near ...","2,500 sqft",₹1.43 Lacs/Month,₹2.5 Crores
5,4 BHK In Independent House For Sale In Elect...,"Independent House, Dhruv Dhama LayoutNear Hedd...","2,400 sqft","₹51,583/Month",₹90 Lacs
6,4 BHK Apartment For Sale In Gopalan Gardenia...,"Gopalan Gardenia Gopalan gardenia, Veerasandr...","2,650 sqft","₹63,045/Month",₹1.1 Crores
7,4 BHK Flat For Sale In Electronic City,"Standalone Building, Konappana Agrahara, Near ...","1,120 sqft","₹28,657/Month",₹50 Lacs
8,4 BHK Flat For Sale In Heena Enclave In Elec...,"Neeladri Nagar,Near Pioneer Sun Blossom","2,350 sqft","₹71,643/Month",₹1.25 Crores
9,4 BHK In Independent House For Sale In Anant...,"Independent House, Glass factory Outlet nd cro...","2,200 sqft","₹56,168/Month",₹98 Lacs